@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Vollkorn');
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Libre Franklin', sans-serif;/*font added*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

* { box-sizing: border-box; }

a { text-decoration: none }

img { width: 100% }

.upp { text-transform: uppercase; }

.container { width: 100%; }

.wrapper {
  max-width: 1400;
  width: 96.5%;
  margin: 0 auto;
}

h1 {
  width: 15.35%;
  padding: 18px 0;
  padding-right: 3.4%;
    border-right: 1px solid #979596;
  display: inline-block;
}

header form {
  padding-left: 10px;
  display: inline-block;
  color: #979596;
}

header form label { font-size: 20px; }

header form input[type=search] {
  width: 240px;
  border: none;
  outline: none;
  color: #787677;
  font-size: 17px;
}

.this-week {
  float: right;
  display: inline-block;
  vertical-align: top;
}

.this-week nav,
.recipe {
  display: inline-block;
}

nav li {
  padding-right: 20px;
  margin: 7.5% 0 0;
  display: inline-block;
  vertical-align: top;
}

.recipe li {
  margin: 5.8% 0 0;
  display: inline-block;
  vertical-align: top;
}

nav li a {
  color: #6c6b69;
  font-size: 12px;
  font-weight: bold;
}

nav a:hover { color: #ccaf77; }

.recipe li:last-child { 
  padding-top: 10px;
  padding-left: 20px;
}
.recipe li a { 
  color: #945454;
  font-size: 12px;
  font-weight: bold;
}

.recipe .active {
  padding: 10px 20px;
  border-top: 1px solid #CCCACD;
  border-right: 1px solid #CCCACD;
  border-left: 1px solid #CCCACD;
}

.active span { 
  display: block;
  color: #454344;
  text-align: center;
  text-transform: capitalize;
}

.recipe a:hover { background: #ef701f; }

.banner {
  padding: 6.3% 5%;
  background: url('../images/merlin_133053119_c8f231db-0cee-420a-9c70-c497de6aa337-mediumThreeByTwo252.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.sausage {
  width: 28%;
  padding: 5% 2% 3%;
  float: right;
  background: #fff;
  position: relative;
  text-align: center;
}

.day {
  width: 105px;
  height: 105px;
  padding: 25px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -50px;
  right: -56px;
  background: #db3e36;
  color: #fcebda;
  font-size: 15px;
  font-weight: bold;
}

h2 {
  color: #313137;
  font-size: 32px;
  font-family: 'Vollkorn', serif;
  text-transform: capitalize;
}

p {
  padding: 5px 0 20px;
  color: #959394;
  font-size: 15px;
}

.blog {
  width: 12%;
  border-radius: 50%;
  display: inline-block;
}

span {
  color: #2a2a35;
  font-size: 13px;
  font-weight: bold;
}

.save-link {
  position: absolute;
  bottom: 20px;
}

.save-link li {
  display: inline-block;
  vertical-align: bottom;
  background: rgba(0,0,0,0.5);
    font-size: 15px;
}

.save-link li a {
  display: block;
  padding: 10px;
  color:#fff;
}

.save-link li a:hover {
  color: #aa0e00;
  transform: scale(1.1);
}


